<table width="100%">
  <tr>
    <td valign="top" width="200px">
      <app-adminnavbar></app-adminnavbar>
    </td>
    <td valign="top">
      <div class="container">
        <h1>Edit Timetable</h1>
        <form>
          <table class="table table-hover" width="98%">
            <tr>
              <th class="ng-binding" width="4%"></th>
              <th class="ng-binding" width="8%">Monday</th>
              <th class="ng-binding" width="8%">Tuesday</th>
              <th class="ng-binding" width="8%">Wednesday</th>
              <th class="ng-binding" width="8%">Thurusday</th>
              <th class="ng-binding" width="8%">Friday</th>
            </tr>
            <tr>
              <th>8:00 <i class="fa fa-long-arrow-right"></i> 9:00</th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option> <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option> <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
            </tr>
            <tr>
              <th>9:00 <i class="fa fa-long-arrow-right"></i> 10:00</th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}-->Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
            </tr>
            <tr>
              <th>11:00 <i class="fa fa-long-arrow-right"></i> 12:00</th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
            </tr>
            <tr>
              <th>12:00 <i class="fa fa-long-arrow-right"></i> 13:00</th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
            </tr>
            <tr>
              <th>13:00 <i class="fa fa-long-arrow-right"></i>14:00</th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
            </tr>
            <tr>
              <th>14:00 <i class="fa fa-long-arrow-right"></i>15:00</th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
              <th>
                <select>
                  <option hidden>Subject</option>
                    <option>  <!-- *ngFor="let timetable of timetabless" [value]="timetable.subject.name">
                      {{ timetable.subject.name }}--> Valami
                    </option>
                    <option> megvalami </option>
                     <option> Matematika </option>
                </select>
              </th>
            </tr>
          </table>
          <button class="button button1" (click)="updateTimetable()" routerLink="/schedule">Save</button>
          <button class="button button3" routerLink="/timetable">Cancel</button>
        </form>
      </div>
    </td>
  </tr>
</table>