
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="vertical-menu">
  
  <a class="active"><b>Kondika</b>
     </a>
   <a routerLink="/admin">
   <i class="fa fa-tachometer" aria-hidden="true"></i>
    <b>Dashboard</b>
  </a>
  
   <a routerLink="/teachers">
    <i class="fa fa-user-circle cust" aria-hidden="true"></i>
    <b>Teachers</b>
  </a>
  <a routerLink="/subjects">
    <i class="fa fa-book cust" aria-hidden="true"></i>
    <b>Subjects</b>
  </a>
  <a routerLink="/schedule">
    <i class="fa fa-clock-o cust" aria-hidden="true"></i>
    <b>Schedule</b>
  </a>
  <a routerLink="/class">
    <i class="fa fa-building cust" aria-hidden="true"></i>
    <b>Classes</b>
  </a>
   <a routerLink="/room">
    <i class="fa fa-building cust" aria-hidden="true"></i>
    <b>Room</b>
  </a>
  <a routerLink="/timetable">
    <i class="fa fa-table" aria-hidden="true"></i>
    <b>Timetable</b>
  </a>
  <a routerLink="/report">
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
    <b>New Reports</b>    
  </a> 
  <a href="#">
    <i class="fa fa-th-list" aria-hidden="true"></i>
    <b>Old Reports</b>
  </a> 
 
</div>