<table width="100%">
  <tr>
    <td valign="top" width="200px">
      <app-adminnavbar></app-adminnavbar>
    </td>
    <td valign="top">
      <table class="table table-one" width="100%">
        <h1> Dashboard </h1>
        <tr>
          <th id="first" style="width:15%" routerLink="/teachers">
            <i class="fa fa-male fa-2x cust" aria-hidden="true"></i>
            <b> Teachers</b>
          </th>
          <th id="second" style="width:15%" routerLink="/class">
            <i class="fa fa-users fa-2x cust" aria-hidden="true"></i>
            <b> Classes</b>
          </th>
          <th id="third" style="width:15%" routerLink="/subjects">
            <i class="fa fa-commenting fa-2x cust" aria-hidden="true"></i>
            <b>Subjects</b>
          </th>
          <th id="fourth" style="width:15%" routerLink="/timetable">
            <i class="fa fa-camera fa-2x cust" aria-hidden="true"></i>
            <b>Timetable</b>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>