<div class="container-view">
  
  <div class="container">
    <div class="panel panel-default ">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Dashboard</b></h3>
        </div>
        <div class="panel-body">
          <div id="first"> 
           <i class="fa fa-male fa-2x cust" aria-hidden="true"></i>
           <b> Teachers</b>
          </div>
          <div id="second" >
            <i class="fa fa-users fa-2x cust" aria-hidden="true"></i>
            <b> Classes</b>
          </div>
          <div id="third" >
            <i class="fa fa-commenting fa-2x cust" aria-hidden="true"></i>
            <b> Messages</b>
          </div>
          <div id="fourth" >
            <i class="fa fa-camera fa-2x cust" aria-hidden="true"></i>
            <b> Photos</b>
          </div>
        
        </div>
    </div>
  </div>

    <!-- Event & News -->

 <div class="container-second">
      <h3 class="container-second-title">
        <br>
        <i class="fa fa-clock-o va " aria-hidden="true"></i>
      <b> News & Events</b></h3>
      <div class="panel-one">
        <p><b>Event 1.</b></p>
      </div>
      <div class="panel-two">
        <p><b>News.</b></p>
      </div>
      <div class="panel-three">
        <p><b>Event 2.</b></p>
      </div>
      
  </div>

    <!--               New Teacher            -->

    <div class="container-third"> 
      <h1>New Teacher</h1>
        <img src="assets/New.png">
        <p> Tókos Bence <br> Informatika </p> 
        
    </div>

    <!--               Timer             -->

  <div class="container-fourth">
      <h1>Countdown Clock</h1>
    <div id="clockdiv">
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>

  </div>

    <!--              Quotes               -->

    <div class="container-fifth">
        <div class="quotes">
          <i> "There is no end to education. 
          It is not that you read a book, pass an examination, 
          and finish with education. 
          The whole of life, from the moment 
          you are born to the moment you die, 
          is a process of learning. "</i>
        </div>
        <br>
        <br>
        <b>Jiddu Krishnamurti</b>
    
    </div>

    <!--              Calendar         -->

  <div class="container-six">
      <h1>Calendar</h1>

    <div class="month">      
      <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li style="text-align:center">
          August<br>
          <span style="font-size:18px">2017</span>
        </li>
      </ul>
    </div>

    <ul class="weekdays">
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
      <li>Su</li>
    </ul>

    <ul class="days">  
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li><span class="active">10</span></li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
      <li>30</li>
      <li>31</li>
    </ul>

  </div>

    <!--                            -->

  <div class="container-seven">

  </div>



</div>