<table class="table table-one" bgcolor="#f2f2f2" width="100%">
  <tr>
    <td valign="top" width="200px">
      <app-adminnavbar></app-adminnavbar>
    </td>
    <td valign="top">
      <div class="container">
        <div class="btn-group">
            <button class="button" value="Refresh" routerLink="/report">Refresh</button>
        </div>
        <div class="panel panel-default ">
          <h1 class="panel-title">
           <i class="fa fa-bell" aria-hidden="true"></i> Actually Reports
          </h1>
        </div>
      </div>
      <div class="container-two">
         <p *ngFor="let logEntry of logEntrys ">
                {{logEntry.room.name}}
           
              
            </p>
      </div>
    </td>
  </tr>
</table>