<table class="table table-one" bgcolor="#f2f2f2" width="100%">
  <tr>
    <td valign="top" width="200px">
      <app-usernavbar></app-usernavbar>
    </td>
    <td valign="top">
      <tr>
        <th style="width:600px" valign="top">
          <h1>Account Settings </h1>
          <button class="button button" routerLink="/account">Change profile date</button>
          <button class="button button" routerLink="/changepassword">Change password</button>

        </th>

        <th style="width:1100px" valign="top">
        
          <!--                Change password   -->
          <form >
            <p>
              <label><b>New Password:</b></label>
              <input type="text" name="password" placeholder="New Password" [(ngModel)]="employer.employeUser.password" #password="ngModel">
            </p>
            <p>
              <label><b>Retype New Password:</b></label>
              <input type="password1" name="password1" placeholder="Retype new password" [(ngModel)]="employer.employeUser.password1" #password1="ngModel">
            </p>
            
          </form>
          <button class="button button3" (click)="updateEmployer()">Change Password</button>
          <label class="error">{{errormessage}}</label>
        </th>
      </tr>
    </td>
  </tr>
</table>