<table class="table table-one" bgcolor="#f2f2f2" width="100%" >
  <tr>
    <td valign="top" width="200px">
      <app-adminnavbar></app-adminnavbar>
    </td>
    <td valign="top">
      <div class="container">
        <div class="panel panel-default ">
           <button class="button" routerLink="/subjects/new">Add Subject</button>
          <h1 class="panel-title">
            <i class="fa fa-book" aria-hidden="true"></i> Subjects
          </h1>
        </div>
      </div>
      <div class="container-two">
          <h1>Subjects</h1>
        <div class="input">
          <input type="text" ng-model="searchBox">
          <i class="fa fa-search " aria-hidden="true"></i>
        </div>
         <table class="table table-hover" width="100%">
                  <tr>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Pass grade</th>
                    <th>Schoolbook</th>
                    <th></th>
                  </tr>

                  <tr *ngFor="let subject of subjects">
                    <td>{{subject.name}}</td>
                    <td>{{subject.employer.firstname}} {{subject.employer.lastname}}</td> 
                    <td>{{subject.passgrade}}</td>
                    <td>{{subject.schoolbook}}</td>
                    <td>
                      <button class="button button1"  routerLink="/subjects/updateSubject/{{subject.id}}" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button class="button button2"  (click)="deleteSubject(subject); $event.stopPropagation()"  title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                    
                  </tr>
                </table>
      </div>
    </td>
  </tr>
</table> 